/* ==== Contacto ==== */
.contacto {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  &__formulario {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: left;
  }

  &__datosPersonales {
    display: flex;
    flex-flow: column nowrap;
  }
  &__areaTexto {
    display: flex;
    flex-flow: column nowrap;
  }
}

label,
input {
  display: block;
  padding: 5px;
}

.boton-form {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .contacto {
    flex-flow: row wrap;
    height: calc(100vh - 214px);

    &__formulario {
      flex-flow: row wrap;
      gap: 15px;
    }
  }

  .boton-form {
    display: block;
  }
}
