/* ---- Main ---- */
/* ==== index ==== */
.indexPrincipal {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.indexPrincipal__texto {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.indexPrincipal__titulo {
  font-size: 45px;
  text-align: center;
}

.indexPrincipal__parrafo {
  text-align: center;
}

@media (min-width: 768px) {
  .indexPrincipal {
    flex-flow: row;
    gap: 150px;
  }

  .indexPrincipal__texto {
    max-width: 550px;
  }
}
