/* ==== Nosotros ==== */
.nosotrosPrincipal {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nosotrosPrincipal__texto {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
}

@media (min-width: 768px) {
  .nosotrosPrincipal {
    flex-flow: row nowrap;
  }
  .nosotrosPrincipal p {
    width: 700px;
  }
}
