/* ==== Nosotros ==== */
.nosotrosPrincipal {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .nosotrosPrincipal {
    flex-flow: row nowrap;
    padding: 25px 550px 0 550px;
  }
}
