/* ==== Risotto ==== */
.risottoPrincipal,
.contenedorReceta,
.contenedorReceta__ingredientes {
  padding: 25px 25px 0 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contenedorReceta__preparacion {
  @extend .contenedorReceta__ingredientes;
  padding: 0px 25px 25px 25px;
}

.contenedorReceta__ingredientes ul {
  list-style: disc;
}

.contenedorReceta__ingredientes,
.contenedorReceta__preparacion ol {
  list-style: decimal;
}

@media (min-width: 768px) {
  .contenedorReceta {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .img-risotto {
    display: block;
  }
}
