/* ==== Footer ==== */
footer {
  background-color: rgba(206, 43, 55, 1);
  text-align: center;
  padding: 15px;

  span {
    display: block;
    font-weight: 600;
    color: rgba(245, 245, 245, 1);
  }
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
}
