/* ==== Navegacion ==== */
header {
  background-color: rgba(10, 130, 6, 1);
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  nav {
    ul {
      display: flex;
      flex-flow: column wrap;
      text-align: center;
    }
  }

  .redes-sociales {
    display: none;
  }
}

@media (min-width: 768px) {
  header {
    flex-flow: row wrap;
    justify-content: space-between;

    nav ul {
      flex-flow: row wrap;
      gap: 15px;
    }

    .redes-sociales {
      display: flex;
      flex-flow: row wrap;
      gap: 20px;
    }
  }
}
