/* ---- Reseteo de CSS ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ol,
ul {
  list-style: none;
}

h1,
h2 {
  margin: 25px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgba(245, 245, 245, 1);
  font-weight: 500;
}

/* ---- Header ---- */
header {
  background-color: rgba(10, 130, 6, 1);
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.redes-sociales {
  display: none;
}

@media (min-width: 768px) {
  header {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  header nav ul {
    flex-flow: row wrap;
    gap: 15px;
  }

  .redes-sociales {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
  }
}

/* ---- Main ---- */
main {
  margin: 25px;
}
/* ==== index ==== */
.index-principal {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.index-principal-texto {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.titulo-index {
  max-width: 280px;
  font-size: 45px;
  text-align: center;
}

.parrafo-index {
  margin: 25px 0;
  max-width: 280px;
  text-align: center;
}

.boton-index {
  display: block;
  background-color: antiquewhite;
  color: black;
  width: 200px;
  height: 50px;
  padding: 15px;
  border-radius: 50px;
  border: 0px solid black;
  text-align: center;
}

@media (min-width: 768px) {
  .index-principal {
    flex-flow: row;
    gap: 150px;
  }

  .titulo-index,
  .parrafo-index {
    max-width: 550px;
  }
}

/* ==== Nosotros ==== */
.parrafo-nosotros {
  margin: 25px 0;
  max-width: 280px;
  text-align: justify;
}

.main-nosotros-principal {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media (min-width: 768px) {
  .main-nosotros-principal {
    flex-flow: row wrap;
  }
}

/* ==== Recetas ==== */
.contenedorTarjetas {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.tarjeta {
  width: 270px;
  padding: 15px;
  background-color: rgba(217, 217, 217, 1);

  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.boton_tarjeta {
  background-color: darkkhaki;
  display: block;
  width: 100px;
  height: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .contenedorTarjetas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

/* ==== Risotto ==== */
.contenedor-receta,
.risotto-principal,
.risotto-ingredientes,
.risotto-preparacion {
  margin: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main ul {
  list-style: disc;
}

main ol {
  list-style: decimal;
}

@media (min-width: 768px) {
  .contenedor-receta {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main .img-risotto {
    display: block;
  }
}

/* ==== Formulario ==== */
.formulario {
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: left;
}

.datosPersonales {
  display: flex;
  flex-flow: column nowrap;
}

label,
input {
  display: block;
  padding: 5px;
}

.boton-form {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .formulario {
    flex-flow: row wrap;
    gap: 15px;
  }

  .boton-form {
    display: block;
  }
}
/* ---- Footer ---- */
footer {
  background-color: rgba(206, 43, 55, 1);
  text-align: center;
  padding: 15px;
}
footer span {
  display: block;
  font-weight: 600;
  color: rgba(245, 245, 245, 1);
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
}
