/* Reseteo de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ---- Componentes ---- */
/* ==== Botones ==== */
.boton {
  background-color: antiquewhite;
  color: black;
  padding: 15px 37px;
  border-radius: 50px;
}
.boton:hover {
  background-color: rgb(10, 130, 6);
  color: white;
}

/* ==== Titulos ==== */
.titulos {
  padding: 25px 25px 0px 25px;
  text-align: center;
}

/* ==== Navegacion ==== */
header {
  background-color: rgb(10, 130, 6);
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
header nav ul li a {
  font-weight: 500;
  color: white;
}
header nav ul li a:hover {
  color: rgb(206, 43, 55);
}
header .redes-sociales {
  display: none;
}

@media (min-width: 768px) {
  header {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  header nav ul {
    flex-flow: row wrap;
    gap: 15px;
  }
  header .redes-sociales {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
  }
}
/* ==== Footer ==== */
footer {
  background-color: rgb(206, 43, 55);
  text-align: center;
  padding: 15px;
}
footer span {
  display: block;
  font-weight: 600;
  color: rgb(245, 245, 245);
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
}
/* ---- Main ---- */
/* ==== index ==== */
.indexPrincipal {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.indexPrincipal__texto {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.indexPrincipal__titulo {
  font-size: 45px;
  text-align: center;
}

.indexPrincipal__parrafo {
  text-align: center;
}

@media (min-width: 768px) {
  .indexPrincipal {
    flex-flow: row;
    gap: 150px;
    height: calc(100vh - 74px);
  }
  .indexPrincipal__texto {
    max-width: 550px;
  }
}
/* ==== Nosotros ==== */
.nosotrosPrincipal {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .nosotrosPrincipal {
    flex-flow: row nowrap;
  }
  .nosotrosPrincipal p {
    width: 700px;
  }
}
/* ==== Recetas ==== */
.contenedorTarjetas {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.contenedorTarjetas__tarjeta {
  width: 270px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(217, 217, 217);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .contenedorTarjetas {
    flex-flow: row wrap;
  }
}
/* ==== Risotto ==== */
.risottoPrincipal,
.contenedorReceta,
.contenedorReceta__ingredientes,
.contenedorReceta__preparacion {
  padding: 25px 25px 0 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contenedorReceta__preparacion {
  padding: 0px 25px 25px 25px;
}

.contenedorReceta__ingredientes ul, .contenedorReceta__preparacion ul {
  list-style: disc;
}

.contenedorReceta__ingredientes, .contenedorReceta__preparacion,
.contenedorReceta__preparacion ol {
  list-style: decimal;
}

@media (min-width: 768px) {
  .contenedorReceta {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .img-risotto {
    display: block;
  }
}
/* ==== Contacto ==== */
.contacto {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.contacto__formulario {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: left;
}
.contacto__datosPersonales {
  display: flex;
  flex-flow: column nowrap;
}
.contacto__areaTexto {
  display: flex;
  flex-flow: column nowrap;
}

label,
input {
  display: block;
  padding: 5px;
}

.boton-form {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .contacto {
    flex-flow: row wrap;
  }
  .contacto__formulario {
    flex-flow: row wrap;
    gap: 15px;
  }
  .boton-form {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
